<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <script src="./js/vue.global.js"></script>
</head>
<body>
    <div id="app"> <!-- HTML DOM template -->
        <h1>What didi you get in VueJS?</h1>
        Your score: <input v-model="score">

        <p v-if="score<0||score>100">Invalid score.</p>
        <p v-else-if="score>=70">PASS!</p>
        <p v-else>It's hard to pass.</p>
    </div>

    <script>
        // if(score<0||score>100){

        // }else if(score>=70){

        // }else{

        // }        
        
        Vue.createApp({
            data(){     // 變數放這裡
                return {
                    message: 'Hello',
                    score: 0,
                }
            },       
        }).mount('#app')
    
    </script>
</body>
</html>