#leftbox{
    border: 3px dashed #abc;
    width: 225px;
    height: 225px;
    margin: 5px;
    padding: 5px;

    float: left;
}
#rightbox{
    border: 3px dashed #cba;
    width: 225px;
    height: 225px;
    margin: 5px;
    padding: 5px;

    float: left;
}