<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <script src="./js/vue.global.js"></script>
    <style>
        ol li{
            font: 18px Calibri;
            background-color: #abc;
            margin: 5px;
            padding: 5px;
        }
        ol li:hover{
            cursor: pointer;
            background-color: #cba;
        }
    </style>
</head>
<body>
    <div id="app"> <!-- HTML DOM template -->
        <!-- Your task: <input v-model="newTask" @keyup="addTask"> -->

        <!-- 使用 v-on 的修飾符 (modifier): 按了 enter 才會呼叫函數 -->
        Your task: <input v-model="newTask" @keyup.enter="addTask">

        <ol>
            <!-- <li v-for="task in tasks">{{task}}</li> -->

            <!-- 加上刪除功能 -->
            <li v-for="(task,index) in tasks" @click="removeTask(index)">{{task}}</li>
        </ol>
    </div>

    <script>     
        Vue.createApp({
            data(){
                return {
                    tasks: [],
                    newTask: '',                    
                }
            },
            methods: {
                addTask(){
                    this.tasks.push(this.newTask)
                    this.newTask = ''
                },
                removeTask(index){
                    this.tasks.splice(index,1)
                },
            },  
            computed: { // 函數(方法)也可以放這裡，放在這裡的函數「不傳參數，有傳回值」
                
            },
        }).mount('#app')
    </script>
</body>
</html>