<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <script src="./js/vue.global.js"></script>
    <!-- <script src="https://unpkg.com/vue@3"></script> -->
</head>
<body>
    <!-- 
        解決 v-if, v-for 的衝突 
    -->
    <div id="app"> <!-- HTML DOM template -->
        <!-- <ol>
            <li v-for="teddy in teddyInfo" :id="teddy.id" v-if="teddy.price>=7000">
                <img :src="teddy.url" width="30"> {{teddy.title}}: {{teddy.price}}
            </li>
        </ol> -->

        <!-- 用 computer 回傳篩選(filter)之後的結果，再 render -->
        <ol>
            <li v-for="teddy in filterData" :id="teddy.id">
                <img :src="teddy.url" width="30"> {{teddy.title}}: {{teddy.price}}
            </li>
        </ol>
    </div>

    <script>
        Vue.createApp({
            data(){ 
                return {
                    message: 'Hello',
                    teddyInfo: [
                        {id: 'A1001',title: 'Formosa',url: '../../images/teddy/formosa.jpg', price: 5000},
                        {id: 'A1002',title: 'Teddy Brown',url: '../../images/teddy/brown.jpg', price: 7000},
                        {id: 'A1003',title: 'Teddy Cinnamon',url: '../../images/teddy/cinnamon.jpg', price: 6800},
                        {id: 'A1004',title: 'Innocent Bear',url: '../../images/teddy/innocent.jpg', price: 7200},
                        {id: 'A1005',title: 'Lion Bear',url: '../../images/teddy/lion.jpg', price: 8000},
                        {id: 'A1006',title: 'Teddy Milk',url: '../../images/teddy/milk.jpg', price: 6000},
                        {id: 'A1007',title: 'Panda',url: '../../images/teddy/panda.jpg', price:6800},
                        {id: 'A1008',title: 'Peter Rabbit',url: '../../images/teddy/peterRabbit.jpg', price: 5500},
                    ],
                }
            }, 
            computed: {
                filterData(){
                    return this.teddyInfo.filter(data => data.price >= 7000)
                },
            },      
        }).mount('#app')
    
    </script>
</body>
</html>